<!DOCTYPE html>
<html>
<head>
	<meta charset="utf8">
	<title>Tesla Motors</title>
	<script  type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style type="text/css">
		.grafica{
			background-color: white;
		}
		.pagina{
			height: 100vh;
			background-color: white;
		}
		.glyphicon-arrow-up{
			color: green;
			font-size: 20px;
		}
		.glyphicon-arrow-down{
			color: red;
			font-size: 20px;
		}
	</style>
</head>
<body>

{% block content %}

<div class="container-fluid pagina">
		<div class="row">
			<div class="col-md-12" style="background-color: rgb(204,0,0); color: white;">
				<h1 class="h1 text-center">
					Tesla Motors
				</h1> 
			</div>

			<div class="col-md-12"  style="background-color: black; color: white;">
				<h2 class="h2 text-center">
					Cotización en tiempo real de Tesla Motors
				</h2> 
			</div>

			<div class="col-md-12">
				<h3 class="h3 text-center">
					<p>Cotización actual: {{valor}}{{simbolo}} Fecha: {{fecha}}</p>
				</h3> 
			</div>

			<div class="col-md-5 col-md-offset-2">
				<div class="col-md-7">
					<form method="POST" role="form" action="/">
						Umbral (Actual = {{umbral}}%):
						<div class="clearfix"></div>
						<input type="text" name="umbral" pattern="^(?:99|\d{1,2})(?:\.\d{1,2})?$" title="Porcentaje de 0.00 a 99.99"
						value="{{umbral}}" required="">
						<input type="submit" class="btn btn-primary" name='boton' value="Enviar">
					</form>
				</div>

				<div class="col-md-12">
					<div class="col-md-10">
						<h4 class="h4 text-left">
							<p>Cotización de referencia: {{valor_referencia}}{{simbolo}}</p>
						</h4> 
						<p>Fecha: {{fecha_referencia}}</p>
					</div>

					<div class="col-md-6 text-center">
						</br>
						<div class="col-md-12 glyphicon glyphicon-arrow-up text-center"></div>
						<div class="col-md-12">
							{% for elemento in lista_superior %}
							    <b style="font-size: 18px">{{elemento[1]}}{{simbolo}}</b> {{elemento[2].strftime('%H:%M:%S')}} </br>
							{% endfor %}
						</div>
					</div>

					<div class="col-md-6 text-center">
						</br>
						<div class="col-md-12 glyphicon glyphicon-arrow-down text-center"></div>
						<div class="col-md-12">
							{% for elemento in lista_inferior %}
							    <b style="font-size: 18px">{{elemento[1]}}{{simbolo}}</b> {{elemento[2].strftime('%H:%M:%S')}} 
							    </br>
							{% endfor %}
						</div>
					</div>
				</div>

			</div>

			<div class="col-md-5">

				<div class="col-md-7">
					<form method="POST" role="form" action="/">
						</br>
						<div class="clearfix"></div>
						<input type="submit" class="btn btn-primary btn-lg" name ="boton" value="Valor medio">
					</form>
				</div>
				
				<div class="col-md-12">
					<h4 class="h4 text-left">
						<p>Valor medio cotización: {{valor_medio}}{{simbolo}}</p>
					</h4> 
					<p>Origen: {{origen}}</p>
				</div>

				<div class="col-md-7">
					</br>
					</br>
					<a class="btn btn-primary btn-lg" href="https://beebotte.com/dash/29e34490-a2b1-11e6-9d38-c733e0bdc86c#.WDXDhR9ifdF">Ir a gráficas</a>
				</div>

			</div>

		</div>
	</div>

{% endblock %}
</body>
<script>
	function recarga()
	{
		location.href=location.href;
	}
	setInterval('recarga()',30000);
</script>
</html>